{% extends 'layout.html' %}

{% block banniere %}
L'ASSOCIATION
{% endblock %}

{% block core %}
<div class="text-content" style="font-size:1em; margin-left:10%; margin-right:10%; text-align:justify">
    <br>
    <p>
        Le Théâtre du Labyrinthe est une compagnie de théâtre professionnelle basée à Chartres et gérée par
        une association loi 1901.
    </p>
    <p>
        Elle a pour vocation de créer des spectacles et de proposer des ateliers
        de recherche théâtrale pour enfants, adolescents et adultes.
    </p>

    <p>Le bureau est actuellement constitué de :</p>
    <ul>
        <li>
            la Présidente: <span class="name">Paula CHEVALLIER</span>
        </li>
        <li>
            la Trésorière : <span class="name">Nicolas CHAUDEAU</span>
        </li>
        <li>
            la Secrétaire : <span class="name">Sébastien CHARRUET</span>
        </li>
    </ul>

    <p>
        <span class="name">Gwenaëlle ANGLADE</span>, comédienne et metteur en
        scène pour la compagnie, met en scène les participants au projet de
        création. Gwenaëlle ANGLADE a été professeure d'art dramatique au
        Conservatoire de Lucé depuis septembre 2017. Vous souhaitez en savoir
        plus sur Gwenaëlle ANGLADE,
        <a href="dist/fichiers/CV-2024.pdf" target="_blank">
            <span style="font-weight: bold;">retrouvez ici son parcours (CV) </span>
        </a>
        au format PDF.
    </p>
    <p>
    Le clip du dernier spectacle
    <a href="https://www.youtube.com/watch?v=vghP_MYKX-8" target="_blank">
        <span style="font-weight: bold;">Liberté, Égalité, Olympe de Gouges</span>
    </a>
    est disponible sur
        <a href="https://www.youtube.com/watch?v=vghP_MYKX-8" target="_blank">
            <span style="font-weight: bold;">Youtube</span></a>.
    </p>
    <p>
        Vous pouvez retrouver
        <a href="dist/fichiers/règles-laby.pdf" target="_blank">
            <span style="font-weight: bold;">ici</span>
        </a>
        les règles de l'association du Théâtre du Labyrinthe.
    </p>

</div>
{% endblock %}

{% block sources %}
{% endblock %}
