{% extends 'layout.html' %}

{% block banniere %}
LES ATELIERS - info
{% endblock %}

{% block core %}
<div class="text-content" style="font-size:1.2em; margin-left:15%; margin-right:15%; text-align:justify">
    <br>
    <p>
    Le <b>Théâtre du Labyrinthe</b> crée en 2010 compte cette année <b>3
    ateliers</b> de recherche et de création théatrale
    ouverts aux comédiens ados et adultes, confirmés ou débutants.
    (Les ateliers enfants étant actuellement suspendus.)
    </p>
    <p>
    Venez participer à une <b>grande aventure théâtrale !</b>
    Le projet de création cette année s'articule autour d'un projet qui
    réunira plusieurs générations et invite les participants à l'élaboration du
    spectacle depuis sa genèse.
    Traverser des tranches de vie, avec les questions qui se posent et
    s'imposent à nous...
    </p>
</div>
<div class="content" style="padding-top: 4%;" id="ateliers_container">
</div>
<div class="text-content" style="font-size:1.2em; margin-left:15%; margin-right:15%; text-align:justify">
    <br>
    <p>
    En coproduction avec <b>la Compagnie de l'Affabulerie</b>,
    le spectacle donnera lieu à deux représentations publiques en fin d'année.
    </p>
    <p>
    La metteure en scène et comédienne, <b>Gwenaëlle Anglade</b> conduira le projet sur l'année.
    </p>
</div>
{% endblock %}

{% block sources %}
<script src="static/js/ateliers.js"> </script>
{% endblock %}
