{% extends 'home.html' %}

{% block modal %}
<!-- Button trigger modal -->

<button style="display:none" type="button" id="bts-modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
</button>

<!-- Modal -->
<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Infos rentrée 2025
                </h5>
            </div>
            <div class="modal-body" style="color:black">
                <div style="text-align:justify">
                    <span class="modal-section"> Venez faire un cours d'essai gratuit ! </span> <br>
                    <ul>
                      <li> Mardi prochain
                        <ul>
                          <li> atelier ados (lycéens) à 18h30 à 20h </li>
                          <li> atelier adultes à 20h30 à 22h30 </li>
                        </ul>
                      </li>
                      <li> Mercredi prochain
                        <ul>
                          <li> atelier enfants de 10h30 à 12h </li>
                          <li> atelier ados (collégiens) de 14h à 15h30 </li>
                          <li> atelier adultes 20h30 à 22h30 </li>
                        </ul>
                      </li>
                    </ul>
                    <br>
                    Il reste quelques places dans les ateliers pour un cours d'essai !
                    N'hésitez pas à nous rejoindre !
                    <br>
                    Pour tous renseignements, merci de nous contacter au 06.69.30.64.22
                    ou par mail
                        <a href="mailto:theatredulabyrinthe@yahoo.com">
                            <b>theatredulabyrinthe@yahoo.com</b>
                        </a>.
                    <!-- Merci de ne pas vous présenter au cours sans avoir eu au préalable un contact
                    téléphonique ou électonique avec le professeur. -->
                    <br>
                    <br>
                    <!-- Téléchargez aussi le <a class="the-red" href="dist/fichiers/flyer-2022.pdf" target="_blank">flyer</a> de rentrée ! -->
                    <!-- À bientôt et surtout n'oubliez pas vos
                    <span class="bold-red">Pass Sanitaires</span>
                    ou <span class="bold-red">Tests PCR</span>
                    de <b>moins de 72h obligatoires</b> pour les ateliers ! -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Compris !</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
