{% extends 'home.html' %}

{% block modal %}

<button style="display:none"
        type="button"
        id="bts-modal-btn"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
</button>

<div class="modal fade show"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content home">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Spectacles du Labyrinthe, <b>Juin 2025</b>
                </h5>
            </div>
            <div class="modal-body" style="color:#2C1607; font-size:17px">
                <div style="text-align:justify">
                    Venez voir <b>Domino</b> la nouvelle création et mise en scène du
                    Théâtre du Labyrinthe ! <br><br>
                    <!-- Venez voir les nouvelles créations et mises en scène du
                    Théâtre du Labyrinthe ! <br><br>
                    Vous retrouverez le (Petit) Théâtre du Labyrinthe le
                    <b>Samedi 17 Mai</b>, pour ses spectacles
                    enfants, ados et ados confirmés ! <br> -->
                    <!-- Cette année, le Théâtre du Labyrinthe vous présente sa
                    nouvelle création originale <b> Misia, ou l'intelligence
                    artificielle </b> ! -->
                    Lorsqu'un repas familial tourne mal suite à une révélation
                    qui va faire tomber les masques, deux familles en crise
                    vont devoir faire face…
                    <br>
                    Une tragi-comédie décapante, mêlée de rires et de larmes,
                    interprétée par les 17 comédiens de la Compagnie du
                    Labyrinthe !
                    <br>
                    <br>
                    Le spectacle <b>Les Caprices de Marianne</b> reprend également le 11 juin !

                    <br> <br>
                    <div class="affiches_home">
                        <div>
                            <a class="resa_link" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/" target=_blank>
                             <img src="dist/affiches/adultes/2025.avif"> </a> </div>
                        <div>
                            <a class="resa_link" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-spectacle-ado-confirmes-11-06" target=_blank>
                             <img src="dist/affiches/enfants/2025_3.avif"> </a> </div>
                        <!-- <div>
                            <a class="resa_link" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-spectacle-ado-enfants-et-ado-confirmes" target=_blank>
                             <img src="dist/affiches/enfants/2025_1.avif"> </a> </div>
                        <div>
                            <a class="resa_link" href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-spectacle-ado-confirmes" target=_blank>
                             <img src="dist/affiches/enfants/2025_2.avif"> </a> </div> -->
                    </div>
                    <br>
                    Réservez dès maintenant en cliquant sur la date souhaitée.
                    <ul>
                        <li> <a class="resa_link"
                                 href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-spectacle-ado-confirmes-11-06"
                                 target=_blank
                             >Mercredi 11 Juin — 17h (ados)</a>
                        </li>
                        <li> <a class="resa_link"
                                 href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-domino"
                                 target=_blank
                             >Samedi 14 Juin — 21h (adultes)</a>
                        </li>
                        <li> <a class="resa_link"
                                 href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-domino-2"
                                 target=_blank
                             >Vendredi 27 Juin — 21h (adultes)</a>
                        </li>
                        <li> <a class="resa_link"
                                 href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-domino-28-06-17h"
                                 target=_blank
                             >Samedi 28 Juin — 17h (adultes)</a>
                        </li>
                        <li> <a class="resa_link"
                                 href="https://www.helloasso.com/associations/theatre-du-labyrinthe/evenements/2025-domino-28-06-21h"
                                 target=_blank
                             >Samedi 28 Juin — 21h (adultes)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Fermer</button>
                    <button type="button"
                            class="btn btn-outline-danger"
                            onclick="window.location.href='https://www.helloasso.com/associations/theatre-du-labyrinthe';"
                            target="_blank">Réserver !</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
