{% extends 'layout.html' %}

{% block banniere %}
LES ATELIERS - tarifs
{% endblock %}

{% block core %}
<div class="text-content" style="font-size:1.2em; margin-left:15%; margin-right:15%; text-align:justify">
    <br>
    <p>
    Le <b>Théâtre du Labyrinthe</b> crée en 2010 compte cette année <b>6
    ateliers</b> de recherche théatrale ouverts à tous, petits et grands, confirmés et débutants.
    </p>
</div>
<div class="content" style="padding-top: 4%;" id="tarifs_container">
</div>
<div class="text-content" style="font-size:1.2em; margin-left:15%; margin-right:15%; text-align:justify">
    <br>
    <p>
    Prendre <b>confiance en soi</b>, <b>partager</b>, apprendre à
    <b>maîtriser sa voix</b>, à bouger sur scène, à <b>gérer ses émotions</b>
    et à <b>s'ouvrir à l'autre</b>. <br>
    Par des exercices ludiques, à l'appui de texte classiques et
    contemporains, nous travaillerons dans le but d'<b>atteindre le lâcher prise</b>
    qui ouvre toutes les portes au plaisir d'être sur sur scène et de
    <b>développer la confiance en soi</b>. <br>
    Après une séance de relaxation puis un training corporel en musique,
    pour faire circuler l'énergie, le travail sur le plateau peut commencer !
    </p>
    <p>
    L'année se clôture par une <b>création écrite</b> pour l'occasion et donne
    lieu à une <b>représentation publique</b>, avec des <b>rôles écrits « sur
    mesure »</b> pour chacun(e) des participant(e)s.
    </p>
</div>
{% endblock %}

{% block sources %}
<script src="static/js/ateliers.js"> </script>
{% endblock %}
